<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142813054197-53jugvjkj8ii9ual9keeur1lea387k9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142813054197-53jugvjkj8ii9ual9keeur1lea387k9r</string>
	<key>API_KEY</key>
	<string>AIzaSyD004xT7eb1uZXkOXhxU1VhcsCFObRMwz4</string>
	<key>GCM_SENDER_ID</key>
	<string>142813054197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marsProject</string>
	<key>PROJECT_ID</key>
	<string>mars-app-4170c</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-app-4170c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142813054197:ios:021f26fa72de3a785871bc</string>
</dict>
</plist>