<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358423033605-pk29ceqcv2m3u5hfus0i0129qd7am06f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358423033605-pk29ceqcv2m3u5hfus0i0129qd7am06f</string>
	<key>API_KEY</key>
	<string>AIzaSyBjGPlT1i9DcB1H86KI_1l55rM1D01kirA</string>
	<key>GCM_SENDER_ID</key>
	<string>358423033605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marsProject</string>
	<key>PROJECT_ID</key>
	<string>mars-5b451</string>
	<key>STORAGE_BUCKET</key>
	<string>mars-5b451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358423033605:ios:2fd3e06bb99c0aefdf296c</string>
</dict>
</plist>